.playerControlsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid black;
}

.playingTrackContainer {
	display: flex;
	flex: 1;
	height: 5em;
	width: 100%;
	padding-right: 10px;
	cursor: pointer;
	align-items: center;
}
