.artistBrowserContainer {
	width: 100%;
}

.artistCard {
	display: flex;
	width: 100%;
	border-bottom: 1px solid;
	justify-content: center;
	cursor: pointer;
}

.selectedArtistCard {
	font-weight: bold;
}
