.rightSidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
	border-left: 1px solid;
	height: calc(100vh - 10em - 1px);
	width: 100%;
}

.bottomTab {
	display: flex;
	border-top: 1px solid;
	height: 2em;
	margin-top: auto;
	align-items: center;
	justify-content: center;
	width: 100%;
}
