.nowPlayingTrackListContainer {
	overflow-y: scroll;
	width: 100%;
}

.nowPlayingTrackContainer {
	display: flex;
	flex: 1;
	height: 5em;
	padding-right: 10px;
	cursor: pointer;
	align-items: center;
	border-bottom: 1px solid;
}
