.albumListContainer {
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.albumCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	text-align: center;
	cursor: pointer;
}

.albumArtworkContainer {
	display: flex;
	border: 1px solid;
}

.albumArtworkContainerSelected {
	display: flex;
	border: 3px solid;
}

.albumTitle {
	font-weight: bold;
	flex-wrap: wrap;
	text-align: center;
}
