.albumCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.albumArtworkContainer {
    display: flex;
}

.albumArtworkContainerSelected {
    display: flex;
    border: 3px solid black;
}