body {
  margin: 0;
}

.appContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: -webkit-fill-available;
  margin: 0;
}

.mainViewContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.topBar {
  max-height: 50px;
}

.bottomBar {
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar {
  height: auto;
  background-color: red;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPane {
  height: auto;
  width: -webkit-fill-available;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}