.settingsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.directoryListContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.directoryChooserContainer {
	display: flex;
	align-items: center;
}

.chooseDirectoryIcon {
	margin-right: 10px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}
