.albumHeaderContainer {
	display: flex;
	flex-direction: column;
	border-right: 1px solid;
}

.albumHeaderImage {
	height: calc(100vh / 3 / 2);
	width: calc(100vh / 3 / 2);
	border-bottom: 1px solid;
}

.albumHeaderDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: calc(100vh / 3 / 2);
}

.trackContainer {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	height: 2em;
	align-items: center;
	overflow-x: hidden;
}

.trackContainerSelected {
	font-weight: bold;
}

.trackContainer:hover {
}

.trackBrowserContainer {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-end;
	border-top: 1px solid;
	overflow-y: hidden;
}

.trackListContainer {
	overflow-y: scroll;
	width: 100%;
}
